@import "content-2";
@import "content-3";
@import "content-4";
@import "content-5";

body {
  overflow-x: hidden;
  background: #f8f9ff;
}
.content-1 {
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-image: url(../image/mm.png),
    linear-gradient(
      160deg,
      rgb(23, 39, 85) 3%,
      rgb(23, 39, 85) 56%,
      rgb(255, 0, 0) 58%,
      rgb(248, 249, 255) 60%
    );
  // background: #172755;
  .container-fluid {
    margin-top: 40px;
    padding: 0 40px;
    align-items: center;
    h4 {
      color: #fff;
      margin: 0;
    }
    h4:hover {
      color: #f2f2f2;
      margin: 0;
    }
    button {
      width: 150px;
      background: rgba(255, 255, 255, 0.1);
      border: 2px solid #fff;
      border-radius: 20px;
      color: #fff;
      box-shadow: 2px 2px 10px black;
      margin-left: 30px;
    }
    button:hover {
      width: 150px;
      background: rgba(255, 255, 255, 0.1);
      border: 2px solid #fff;
      border-radius: 20px;
      color: #fff;
      margin-left: 30px;
      box-shadow: -6px 6px 15px black, 6px -6px 15px black;
    }
    a {
      font-size: 15px !important;
      color: rgba(250, 250, 250, 0.5);
    }
    a:hover {
      font-size: 15px !important;
      color: #fff;
    }
    .nav-rin {
      display: flex;
    }
  }
  section {
    h1 {
      color: #fff;
      font-weight: bold;
      padding: 80px 30px 20px 30px;
    }
    p {
      color: rgba(250, 250, 250, 0.5);
      font-size: 15px;
      padding: 20px 30px;
    }
    button {
      margin: 10px 30px;
      padding: 10px 60px;
      border: 0px solid;
      border-radius: 25px;
      color: #fff;
      font-size: 15px;
      font-weight: bold;
      background: #ef2a82;
    }
    .con-1-image {
      position: absolute;
      top: 270px;
      left: 550px;
    }
  }
}
